.background{
    position: relative;
    background-color: #f41068;
    height: 90vh;
    img{
        position: absolute;
        width: 826px;
        height: 526px;
        left: 5%;
        bottom:0%
    }

    .text{
        position: absolute;
        width: 826px;
        color: white;
        right: 12%;
        bottom: 35%;

        h1{
            font-size: 46px;
            margin: 15px;
        }

        .second{
            font-size: 64px;
        }

        span{
            font-size: 26px;
        }

        a{
            text-decoration: none;
            border-radius: 22px;
            border: 1px;
            padding: 10px 25px;
            background: rgb(254, 252, 255);
            color: rgb(11, 9, 9);
            transition: 0.5s all ease;
            margin: 15px;
        }

        a:hover{
            background: rgb(118, 23, 23);
        }
    }
}


@media (max-width:576px){
    .background{
       height: 70vh;
        img{
            width: 300px;
            height: 250px;
            position: absolute;
            left: 20%;
        }

        .text{
            width: 350px;
            
            h1{
                font-size: 26px;
                margin: 15px;
                text-align: center;
            }
    
            .second{
                font-size: 34px;
            }
    
            span{
                font-size: 26px;
            }

            a{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}